<div class="home-page">
  <div class="banner">
    <div class="container">
      <h1 class="logo-font">conduit</h1>
      <p>A place to share your knowledge.</p>
    </div>
    <%= link_to "記事を作成する", "/articles/new", class: "btn btn-lg btn-primary mkarticle" %>
  </div>

  <div class="container page">
    <div class="row">
      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link" href="#" id="yourfeed">Your Feed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="" id="globalfeed">Global Feed</a>
            </li>
          </ul>
        </div>

        <div class="your-feed">
          <%= render 'shared/feed' %>
        </div>

        <div class="global-feed show">
          <%= render 'shared/global-feed' %>
        </div>

        <%# <ul class="pagination">
          <li class="page-item active">
            <a class="page-link" href="">1</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="">2</a>
          </li>
        </ul> %>
      </div>

      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>

          <div class="tag-list">
            <% if !@articles.nil? %>
              <% @articles.each do |article| %>
                <a href="" class="tag-pill tag-default"><%= article.tag %></a>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>