.user_admin {
  color: #fff;
}

.user_admin:hover {
  border-bottom: 1px solid #fff;
}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

.your-feed {
  display: none;
}

.your-feed.show {
  display: block;
}

.global-feed {
  display: none;
}

.global-feed.show {
  display: block;
}

.btn.btn-lg.btn-primary.mkarticle {
  background-color: darkgoldenrod;
  margin-left: 80%;
}